.list-title-container {
  background-color: transparent;
  padding-left: 5%;
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  padding-bottom: 10px;
  padding-right: 4%;
  align-items: center;
}

.usd-value-container {
  margin-right: 10px;
}

.currency-logo {
  width: 50px;
  margin-right: 15px;
}

.logo-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

li {
  list-style: none;
}
